<a href="https://colab.research.google.com/github/tndkss/code_3rd/blob/main/CTA_Aray.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 배열의 선언
 - 일반 변수의 선언: 변수명 = 변수의 값
 - 배열의 변수 선언: 변수명 = {  ,  ,  }

In [3]:
movie_list = ["아바타", "타이타닉", "스타워즈", "주라기월드", "어벤져스"]
print(movie_list[0])
print(movie_list[4])

아바타
어벤져스

2. 요일을 배열로 선언하라
 - day_list
 - 요일 : 월(Mon.), 화(Tue.), 수(Wed.) 목(Thur.),금(Fri.), 토(Sat.) 일(Sun.)

In [14]:
day_list=["월(Mon.)","화(Tue.)","수(Wed.)","목(Thur.)","금(Fri.)","토(Sat.)","일(Sun.)"]
print(day_list[0])
print(day_list[1])
print(day_list[2])
print(day_list[3])
print(day_list[4])
print(day_list[5])
print(day_list[6])

월(Mon.)
화(Tue.)
수(Wed.)
목(Thur.)
금(Fri.)
토(Sat.)
일(Sun.)