<a href="https://colab.research.google.com/github/tndkss/code_3rd/blob/main/CTC_7_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 사용자로부터 3개의 값(X,Y,Z)을 입력받아서 각각 1씩 증가되고,출력되는 코드작성

In [4]:
x =  int(input("x의 값을 입력하시오.:"))
y =  int(input("y의 값을 입력하시오.:"))
z =  int(input("z의 값을 입력하시오.:"))
x = x+1
y = y+1
z = z+1
print(f'x의 값은 {x}이며, y의 값은 {y}이고, z의 값은 {z}이다. ')

x의 값을 입력하시오.:1
y의 값을 입력하시오.:2
z의 값을 입력하시오.:3
x의 값은 2이며, y의 값은 3이고, z의 값은 4이다.

2. 알바생의 시급과 시간을 계산하여 월급을 출력한 코드

---

In [6]:
hours_worked= int(input("일한 시간을 입력하시오.:"))
pay_rate=int(input("시급을 입력하시오(23 기준 9620원):"))
monthly_pay= hours_worked * pay_rate
print(f'일한시간은 {hours_worked}이고, 시급은 {pay_rate}원이며, 월급여는 {monthly_pay}원 입니다.')

일한 시간을 입력하시오.:10
시급을 입력하시오(23 기준 9620원):9620
일한시간은 10이고, 시급은 9620원이며, 월급여는 96200원 입니다.

3. 환율계산하는 코드작성
 - 원의 변수는 won
 - 달러의 변수는 usd
 - 환전의 변수는 exchange

In [23]:
won = int(input("환전할 금액을 입력(kor):"))
usd = int(input("현재 달러의 환율 입력(2301031: 1372):"))
exchange = won // usd
print(f'환전할 금액은 {won}이며, 달러 금액은 {usd}이고, 환전금액은 {exchange}달러 입니다. ')

환전할 금액을 입력(kor):5000
현재 달러의 환율 입력(2301031: 1372):1372
환전할 금액은 5000이며, 달러 금액은 1372이고, 환전금액은 3달러 입니다.

4. 화씨(fahrenheit)를 섭씨(celcius)로 변환하는 코드 작성

In [20]:
fahrenheit = int(input("화씨온도를 입력하시오.:"))
celcius = (fahrenheit - 32) / 1.8
print(f'화씨온도는 {fahrenheit}, 섭씨 {celcius}입니다.')

화씨온도를 입력하시오.:100
화씨온도는 100, 섭씨 37.77777777777778입니다.

In [21]:
celcius = float(input("섭씨온도를 입력하시오.:"))
fahrenheit = (celcius * 1.8 )+ 32
print(f'섭씨온도는 {celcius}도는, 화씨 {fahrenheit}도 입니다.')

섭씨온도를 입력하시오.:37.77777777777778
섭씨온도는 37.77777777777778도는, 화씨 100.0도 입니다.

5. 사용자로부터 2개의 정수를 받아서 합계를 출력하는 코드

In [27]:
x=int(input("x의 값을 입력하시오.:"))
y=int(input("y의 값을 입력하시오.:"))
sum = x+y
print(sum)

x의 값을 입력하시오.:11
y의 값을 입력하시오.:22
33

6. 부가세를 계산하시오

In [28]:
price = int(input("상품의 가격을 입력하시오.:"))
vat = price * 0.1
print(vat)

상품의 가격을 입력하시오.:5625
562.5