<a href="https://colab.research.google.com/github/tndkss/code_3rd/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. To-Do List를 작성하시오.
- 2023년 10월 19일 최수안
- (1) 09:20 도서관에서 책 빌리기
- (2) 11:00 컴퓨팅적사고와 기초코딩 수업
- (3) 13:00 점심식사
- (4) 14:10 교양수업
- (5) 16:00 파이썬 공부 및 레포트 작성
- (6) 17:40 저녁식사 및 집안일 돕기
- (7) 19:00 LOL 하기

In [ ]:
print("To-Do List")  # To-Do List라는 제목을 출력합니다.
print("2023년 10월 19일 최수안")  # 날짜와 이름을 출력합니다.
print("(1) 9:20 도서관에서 책 빌리기")  # 해야 할 일들을 순서대로 출력합니다.
print("(2) 11:00 컴퓨팅적사고와 기초코딩 수업")
print("(3) 13:00 점심식사")
print("(4) 14:00 교양수업")
print("(5) 16:00 파이썬 공부 및 레포트 작성")
print("(6) 17:40 저녁식사 및 집안일 돕기")
print("(7) 19:00 LOL 하기")

To-Do List
2023년 10월 19일 최수안
(1) 9:20 도서관에서 책 빌리기
(2) 11:00 컴퓨팅적사고와 기초코딩 수업
(3) 13:00 점심식사
(4) 14:00 교양수업
(5) 16:00 파이썬 공부 및 레포트 작성
(6) 17:40 저녁식사 및 집안일 돕기
(7) 19:00 LOL 하기

2. 인사말 출력하기
 - 식사하셨습니까?행님

In [ ]:
print("2. 인사말 출력하기")    # "2. 인사말 출력하기"라는 제목을 출력합니다.
print("- 식사하셨습니까?행님") # "식사하셨습니까?행님"이라는 인사말을 출력합니다.

2. 인사말 출력하기
- 식사하셨습니까?행님

3. 학생 4명의 국어점수를 입력받아서 아래와
같이 출력하시오.
 - 박보검: 90점
 - 션    : 92점
 - 도룡용: 80점
 - 차은우: 99점
 - 국어 점수 순위
 - 1등 차은우
 - 2등 션
 - 3등 박보검
 - 4등 도룡용

In [ ]:
print("3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.") # "3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오."라는 문장을 출력합니다.
n1=input("학생의 값을 입력하시오.:") # 사용자로부터 학생 1명의 국어 점수를 입력받습니다.
n2=input("학생의 값을 입력하시오.:")
n3=input("학생의 값을 입력하시오.:")
n4=input("학생의 값을 입력하시오.:")
print("1등", n4,"점") # 입력받은 점수를 등수별로 출력합니다.
print("2등", n2,"점")
print("3등", n1,"점")
print("4등", n3,"점")

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
학생의 값을 입력하시오.:박보검: 90점
학생의 값을 입력하시오.:션: 92점
학생의 값을 입력하시오.:도룡용 : 80점
학생의 값을 입력하시오.:차은우: 90점
1등 차은우: 90점 점
2등 션: 92점 점
3등 박보검: 90점 점
4등 차은우: 90점 점

4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [ ]:
print("4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.") # "4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오."라는 문장을 출력합니다.
n1=int(input("n1의 값을 입력받으시오.:")) # 사용자로부터 n1 값을 입력받습니다
n4=int(input("n4의 값을 입력받으시오.:")) # 사용자로부터 n4 값을 입력받습니다.
total=n1+n4  # n1과 n4의 합을 계산합니다.
average=total/2  # n1과 n4의 평균을 계산합니다.
print(average) # 평균을 출력합니다.

4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.
n1의 값을 입력받으시오.:80
n4의 값을 입력받으시오.:40
60.0